<div class="lists">
  <ol>
    <h1><%=@list.title%></h1>
      <%@list.tasks.each do |task|%>
      <li><%=task.description%> <br>
        <a href="/lists/<%=@list.id%>/tasks/<%=task.id%>/edit">Edit</a>
        <form action="/lists/<%=@list.id%>/tasks/<%=task.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </li>
      <%end%>
  </ol>

  <form action="/lists/<%=@list.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete List">
  </form> <br>

  <a href="/lists/<%=@list.id%>/edit">Edit Name</a> <br> <br>
  <a href="/lists/<%=@list.id%>/tasks/new">Add Task</a> <br> <br>

  <a href="/lists">Go Back</a>
</div>
