<div class = "one-task">
<h1><%=@task.task%></h1>

<form id="complete-task" action="/lists/<%=@list.id%>/tasks/<%=@task.id%>/complete" method="get">
  <input type="checkbox" name="complete" value="Complete"> Complete Task
</form>

<br>

<a href= "/lists/<%=@list.id%>/tasks/<%=@task.id%>/edit">Edit Task</a><br>
</div>
